.DS_Store
node_modules
.tmp
.idea
.log
dist
docs
.env
npm-debug.log
.nyc_output
coverage
cassettes
variables.json

packer_cache/
*.box
.vagrant/
*.vdi
output*/
*~
*.vmdk
*.ovf

.vagrant/*
.cfg.*

*.swp
data/
*.log
*.tar
id_rsa_github_deploy_key

mongo.js
certificates/
