<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<!--This is the secondary collapse Nav Bar *DP 3\21\2018-->
<nav id="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

    </div>
    <div class="navbar" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><button type="button" style="margin-right:15px;" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg1">Contacts list</button></li>
        <li><button type="button" style="margin-right:15px;" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg2">Settings</button></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="logOut">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="modal fade bd-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Contacts List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th width="2%">Call</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John doe</td>
              <td>john@example.com</td>
              <td><i class="fa fa-phone" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Mary Moe</td>
              <td>mary@example.com</td>
              <td><i class="fa fa-phone" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>July Dooley</td>
              <td>july@example.com</td>
              <td><i class="fa fa-phone" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Mario Speedwagon</td>
              <td>mario@example.com</td>
              <td><i class="fa fa-phone" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Paul Molive</td>
              <td>paul@example.com</td>
              <td><i class="fa fa-phone" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Paige Turner</td>
              <td>paige@example.com</td>
              <td><i class="fa fa-phone" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Jeremy Hajek</td>
              <td>jeremy@example.com</td>
              <td><i class="fa fa-phone" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Bob Frapples</td>
              <td>bob@example.com</td>
              <td><i class="fa fa-phone" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Anna Sthesia</td>
              <td>anna@example.com</td>
              <td><i class="fa fa-phone" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>July Dooley</td>
              <td>july@example.com</td>
              <td><i class="fa fa-phone" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Petey Cruiser</td>
              <td>petey@example.com</td>
              <td><i class="fa fa-phone" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>



<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title " id="exampleModalLongTitle ">Settings</h5>
        <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-body ">

        <div class="form-inline">
          <i class="fas fa-user-circle" style="color: orange; font-size:3em; margin-right:10px;"></i>
          <input type="text" class="form-control" id="usr" placeholder="Share your status...">
        </div>
        <p>

        </p>
        <h5>
          General
        </h5>
        <hr />
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Show when you were last active</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">Show which device you're on (phone, tablet, or computer)</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck3">
          <label class="custom-control-label" for="customCheck3">Show when you're in a video or phone call on your devices</label>
        </div>
        <p>

        </p>
        <h5>
          Notifications
        </h5>
        <hr />
        <div class="">
          <select class="custom-select custom-select-m" style="background-color:white; color:black; outline:1px solid #d2d2d2; border-radius:5px;">
        <option>Mute Notifications for...</option>
        <option value="1 ">30 minutes</option>
        <option value="3 ">1 hour</option>
        <option value="3 ">2 hour</option>
        <option value="1 ">4 hour</option>
        <option value="1 ">6 hour</option>
        <option value="2 ">8 hour</option>
        <option value="3 ">12 hour</option>
        <option value="1 ">1 day</option>
        <option value="2 ">3 days</option>
        <option value="2 ">6 days</option>
      </select>
          <p>

          </p>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck4">
          <label class="custom-control-label" for="customCheck4">Sound for incoming calls</label>
        </div>
        <hr />
        <div id="accordion">

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Blocked Users
        </button>
      </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th width="2%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>John doe</td>
                      <td>john@example.com</td>
                      <td><button type="button" class="btn btn-secondary">Unblock</button></td>
                    </tr>
                    <tr>
                      <td>Mary Moe</td>
                      <td>mary@example.com</td>
                      <td><button type="button" class="btn btn-secondary">Unblock</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button " class="btn btn-primary">Save</button>
      </div>


    </div>
  </div>
</div>









<div id="main" class="border row ">
  <div class="border col-md-6 position-relative overflow-hidden p-3 pt-5 p-mt-5 m-mt-3 text-center bg-light">
    <h2>This is you</h2>
    <p>
      <br />
    </p>
    <div id="app ">
      <div><video #video id="video " width="500 " height="375 " autoplay style="border:1px solid #d3d3d3; "></video></div>

      <div class="row p-3 ">
        <div class=".col-xs-4 mx-auto w-1 ">
          <button type="button " class="btn btn-outline-success " id="snap " (click)="capture() "><i class="fas fa-phone "></i> Call</button>
          <button type="button " class="btn btn-outline-danger " id="snap " (click)="remove() "><i class="fas fa-phone-slash "></i> Hang Up</button>
          <button type="button " class="btn btn-outline-info "><i class="fas fa-microphone "></i> Mute </button>
        </div>
      </div>
      <div class="row p-3 ">
        <div class="select .col-xs-4 mx-auto w-1 ">
          <select name="slct " id="slct ">
      <option>Choose your language</option>
      <option value="3 ">Chinese</option>
      <option value="3 ">Czech</option>
      <option value="1 ">Danish</option>
      <option value="1 ">English</option>
      <option value="2 ">French</option>
      <option value="3 ">German</option>
      <option value="1 ">Hungaria</option>
      <option value="2 ">Irish</option>
      <option value="2 ">Italian</option>
      <option value="1 ">Japanese</option>
      <option value="3 ">Korean</option>
      <option value="2 ">Polish</option>
      <option value="2 ">Punjabi</option>
      <option value="2 ">Portugese</option>
      <option value="3 ">Russian</option>
      <option value="1 ">Spanish</option>
      <option value="3 ">Swedish</option>
      <option value="1 ">Vietnamese</option>
    </select>
        </div>
      </div>

      <div class="form-group typewriter ">
        <label for="comment ">Translation:</label>
        <textarea class="form-control " rows="8 " id="translation1 " onload="typewriter() ">Example of translated transcription of the user...
        </textarea>
      </div>

    </div>
  </div>
  <div class="border col-md-6 position-relative overflow-hidden p-3 pt-5 p-mt-5 m-mt-3 text-center bg-light ">
    <h2>The guy on the other side...</h2>
    <p>
      <br />
    </p>
    <div id="app " class="mt-8 ">
      <canvas #canvas id="canvas " width="500 " height="375 " style="border:1px solid #d3d3d3; "></canvas>
      <ul>
        <li *ngFor="let c of captures ">
          <img src="{{ c }} " height="10 " />
        </li>
      </ul>
      <div class="row p-3 ">
        <div class=".col-xs-4 mx-auto w-1 ">
          <p>

          </p>
        </div>
      </div>
      <div class="row p-3 ">
        <div class="select .col-xs-4 mx-auto w-1 ">
          <select name="slct " id="slct ">
      <option>Choose your language</option>
      <option value="3 ">Chinese</option>
      <option value="3 ">Czech</option>
      <option value="1 ">Danish</option>
      <option value="1 ">English</option>
      <option value="2 ">French</option>
      <option value="3 ">German</option>
      <option value="1 ">Hungaria</option>
      <option value="2 ">Irish</option>
      <option value="2 ">Italian</option>
      <option value="1 ">Japanese</option>
      <option value="3 ">Korean</option>
      <option value="2 ">Polish</option>
      <option value="2 ">Punjabi</option>
      <option value="2 ">Portugese</option>
      <option value="3 ">Russian</option>
      <option value="1 ">Spanish</option>
      <option value="3 ">Swedish</option>
      <option value="1 ">Vietnamese</option>
    </select>
        </div>
      </div>
      <div class="form-group typewriterr ">
        <label for="comment ">Transcribing (Speech-to-Text):</label>
        <textarea class="form-control " rows="8 " id="translation1 " onload="typewriter() ">This is an example of transcribing speech-to-text...
        </textarea>
      </div>


    </div>
  </div>
</div>
